
body {
    background-color: #f9f9f9;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.display {
    width: 100%;
    height: 60px;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #333;
}

#output {
    height: 90px;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
    border: none;
    transition: background-color 0.3s;
}

button {
    margin: 5px;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    background-color: #f0f0f0;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}